[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
requests = "*"
python-dotenv = "*"
flask-cors = "==3.0.10"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
